<div class="alert alert-light bg-primary mt-2" role="alert">
  <div class="row">
    <div class="col-6">
      <h4>{{company}} <small>({{contract}})</small></h4>
    </div>
    <div class="col-6 text-right">
      <div class="dropdown">
        <a class="btn btn-outline-secondary dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{fullname}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <!-- <a class="dropdown-item " href="#">Most relevant</a> -->
          <a class="dropdown-item" routerLink="/login">ออกจากระบบ</a>
        </div>
      </div>
    </div>
  </div>
</div>