<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card>
  <div class="row">
    <div class="col-md-3"> 
      <div class="card" style="margin-top: 115px ; padding: 20px">
        <div class="mt-2" *ngFor="let item of listRoom">
            <button type="button" class="btn btn-block" [ngStyle]="{'background-color': item.color}" (click)="calendarRoom(item.roomName)">ปฏิทินฝึกอบรม{{item.roomName}}</button>
        </div>
      </div><br>

          <!-- <div class="card" style="padding: 20px;"> -->
              <!-- <i class="fa fa-square" aria-hidden="true"></i><label>test</label>
              <i class="fa fa-square" aria-hidden="true"></i><label>test</label>
              <i class="fa fa-square" aria-hidden="true"></i><label>test</label> -->
              <ul class="list-group">
                  <li class="list-group-item"><i class="fa fa-square" aria-hidden="true" style="color: #dedede"></i>   สถานะยังไม่ทำการขอใช้บริการ</li>
                  <li class="list-group-item"><i class="fa fa-square" aria-hidden="true" style="color: #8fd2ff"></i>   สถานะรอการชำระเงิน</li>
                  <li class="list-group-item"><i class="fa fa-square" aria-hidden="true" style="color: #89db6e"></i>   สถานะชำระเงินเรียบร้อย</li>
                </ul>
          <!-- </div> -->

    </div>
    <div class="col-md-9">
        <div *ngFor="let item of listRoomCalendar" > 
            <div class="mt-2">
               <h3>รายการการจองห้องฝึกอบรม CUTE : {{item.roomName}}</h3> 
              </div>
            <full-calendar id="{{item.roomName}}" defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="roomEvent" [header]="{left:'title'}" ></full-calendar>
        </div>
    </div>
  </div>
</app-card>
