<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card header="ทสภ." isButton="false">
  <div class="row">
    <div class="col-sm-6 text-left">
      <button-back routerLink="/firebrigade/firebrigade001"></button-back>
    </div>
    <div class="col-sm-6 text-right">
      <button-save (click)="onValidBeforeSave()"></button-save>
    </div>
  </div>
  <hr>
  <form [formGroup]="formGroup">
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>รหัสผู้ประกอบการ : <span class="text-danger">*</span></p>
      </div>
      <div class="col-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-sm" placeholder="ค้นหารหัสผู้ประกอบการ"
            aria-label="รหัสผู้ประกอบการ" aria-describedby="button-addon2" formControlName="customerCode" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-info" type="button" id="button-addon2" (click)="onOpenModalCustomer()"><i
                class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="col-2 text-right ">
        <p>หน่วยงาน/ผู้ประกอบการ : <span class="text-danger">*</span></p>
      </div>
      <div class="col-4">
        <input type="text" formControlName="customerName" readonly class="form-control form-control-sm"
          placeholder="กรุณากรอกหน่วยงาน/ผู้ประกอบการ">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>เลขที่สัญญา : <span class="text-danger">*</span></p>
      </div>
      <div class="col-4">
        <input formControlName="contractNo" list="contractNo" class="form-control form-control-sm"
          (change)="getRentalAreaList($event.target.value)" />
        <datalist id="contractNo">
          <option *ngFor="let items of contractNoList" [value]="items.contractNo">{{items.contractNo}}</option>
        </datalist>
      </div>
      <div class="col-2 text-right ">
        <p>สาขา : </p>
      </div>
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" placeholder="สาขา" formControlName="customerBranch">
        <datalist id="roName">
          <option *ngFor="let item of roList" value="{{item.roName}}">{{item.roName}}</option>
        </datalist>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>หลักสูตรที่ขอใช้จัดฝึกอบรม : <span class="text-danger">*</span></p>
      </div>
      <div class="col-4">
        <select class="form-control form-control-sm" (change)="onSelectCourse($event)" id="selectCourse">
          <option value="" selected disabled>หลักสูตรที่ขอใช้จัดฝึกอบรม</option>
          <option *ngFor="let item of courseList" [value]="item.courseName">{{item.courseName}}</option>
        </select>
      </div>
      <div class="col-2 text-right ">
        <p>ที่อยู่สำหรับจัดส่งเอกสาร : </p>
      </div>
      <div class="col-4">
        <textarea class="form-control form-control-sm" formControlName="address" readonly></textarea>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>จำนวนผู้เข้ารับการฝึกอบรม : <span class="text-danger">*</span></p>
      </div>
      <div class="col-3">
        <input class="form-control form-control-sm text-right" numberOnly formControlName="personAmount"
          (keyup)="callulatePerson()" [readonly]="unitIsTime">
      </div>
      <div class="col-1 ">
        <p>คน</p>
      </div>
      <div class="col-2 text-right ">
        <p>วันที่จัดฝึกอบรม : <span class="text-danger">*</span></p>
      </div>
      <div class="col-4">
        <input-calendar (changeDate)="dateChange($event)" #calendar></input-calendar>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>อัตราค่าภาระ :</p>
      </div>
      <div class="col-4">
        <input class="form-control form-control-sm text-right" formControlName="chargeRates" readonly>
      </div>
      <div class="col-1 ">
        <p>บาท</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>ภาษีมูลค่าเพิ่ม
          :</p>
      </div>
      <div class="col-4">
        <input class="form-control form-control-sm text-right" formControlName="vat" readonly>
      </div>
      <div class="col-1 ">
        <p>บาท</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>จำนวนเงินรวมภาษี
          :</p>
      </div>
      <div class="col-4">
        <input class="form-control form-control-sm text-right" formControlName="totalAmount" readonly>
      </div>
      <div class="col-1 ">
        <p>บาท</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>ประเภทการชำระเงิน :</p>
      </div>
      <div class="col-4">
        <select class="form-control form-control-sm" formControlName="paymentType">
          <option value="" hidden>กรุณาเลือกประเภทการชำระเงิน</option>
          <option *ngFor="let item of paymentType" [ngValue]="item.descTh1.trim()">{{item.descTh1.trim()}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-right ">
        <p>หมายเหตุ :</p>
      </div>
      <div class="col-4">
        <textarea class="form-control form-control-sm" formControlName="remark"></textarea>
      </div>
    </div>
  </form>
</app-card>

<modal-custom #selectCusModal header="เลือกผู้ประกอบการ">
  <div body>
    <form [formGroup]="formSearchCus">
      <div class="row mt-2">
        <div class="col-2 offset-2 text-right ">
          <p>ค้นหา :</p>
        </div>
        <div class="col-6">
          <input type="text" class="form-control form-control-sm"
            placeholder="รหัสผู้ประกอบการ/รหัสพนักงาน , ชื่อผู้ประกอบการ/ชื่อพนักงาน , รหัสสาขา , ทีอยู่"
            formControlName="criteria">
        </div>
        <div class="col-2 text-right ">
          <button-search (click)="getCustomer()"></button-search>
        </div>
      </div>
    </form>
    <table id="datatableCus" class="table table-bordered table-striped table-sm" style="width:100%">
      <thead class="text-center">
        <tr>
          <th class="text-center">รหัสผู้ประกอบการ</th>
          <th class="text-center">ชื่อผู้ประกอบการ</th>
          <th class="text-center">รหัสสาขา</th>
          <th class="text-center">ทีอยู่</th>
          <th class="text-center">การจัดการ</th>
        </tr>
      </thead>
    </table>
  </div>
</modal-custom>
<!-- saveModal -->
<modal-confirm #saveModal (onConfirm)="onClickSave()">
</modal-confirm>
<!-- successModal -->
<modal-success #successModal>
</modal-success>
<!-- errorModal -->
<modal-error #errorModal>
</modal-error>